@use "../base/variables.scss" as *;
@use "../base/mixin.scss" as *;

.about__title {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 82px;

  // @media (min-width: 768px) {
  //   font-size: 43px;
  //   line-height: 50px;
  //   padding: 56px 0 42px;
  // }

  // @media (min-width: 1150px) {
  //   font-size: 53px;
  //   line-height: 57px;
  //   padding: 68px 0 39px 175px;
  // }
}

.about__list {
  // @media (min-width: 768px) {
  //   display: flex;
  //   flex-direction: column;
  //   height: 491px;
  //   flex-wrap: wrap;
  // }

  // @media (min-width: 1150px) {
  //   padding: 0 180px;
  // }
}

.about__item {
  position: relative;
  font-size: 17px;
  line-height: 20px;
  list-style: none;

  // &:last-child {
  //   margin-bottom: 58px;

  //   @media (min-width: 768px) {
  //     margin: 0;
  //   }
  // }
}

.about__text {
  display: block;
  margin-bottom: 83px;

  // @media (min-width: 768px) {
  //   font-size: 20px;
  //   line-height: 22px;
  //   margin-bottom: 58px;
  // }
}

.about__item:last-child .about__text {
  margin-bottom: 0;
}

.about__img-flower {
  position: absolute;
  bottom: 57px;
  width: 33px;
  height: 38px;
  background-image: url("../img/flower.svg");

  // @media (min-width: 768px) {
  //   margin: 0 296px 18px 0;
  // }
}

.about__img-money {
  position: absolute;
  bottom: 66px;
  width: 47px;
  height: 27px;
  background-image: url("../img/money.svg");
}

.about__img-heart {
  position: absolute;
  bottom: 60px;
  width: 34px;
  height: 27px;
  background-image: url("../img/heart.svg");
}

.about__img-clew {
  position: absolute;
  bottom: 54px;
  width: 35px;
  height: 35px;
  background-image: url("../img/clew.svg");

  @media (min-width: 768px) {
    margin-bottom: 19px;
  }
}

.about__img-rocket {
  position: absolute;
  bottom: 68px;
  width: 55px;
  height: 23px;
  background-image: url("../img/rocket.svg");

  @media (min-width: 768px) {
    margin-bottom: 28px;
  }
}

.about__img-box {
  position: absolute;
  bottom: 60px;
  width: 33px;
  height: 32px;
  background-image: url("../img/box.svg");

  @media (min-width: 768px) {
    margin-bottom: 21px;
  }
}
