@use "../base/variables.scss" as *;

.catalog__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;

  @media (min-width: 1150px) {
    display: flex;

  }
}

.catalog__item {
  margin: 0 auto 30px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 40% 20%;
  }

  @media (min-width: 1150px) {
    display: block;
    margin-right: 15px;
  }
}

.catalog__title {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 180px;
  margin-bottom: 30px;
  font-size: 27px;
  line-height: 30px;
  background-color: $w_grey;
}

.catalog__card-image {
  margin-bottom: 28px;
}

.catalog__card-link-text {
  text-decoration: none;
  font-size: 17px;
  line-height: 24px;
}

.catalog__card-title {
  margin-bottom: 6px;
}

.catalog__card-description {
  display: block;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: $grey;
}

.catalog__card-price {
  font-size: 15px;
  line-height: 24px;
}

.catalog__card-link {
  @media (min-width: 768px) {
    grid-row-start: 1;
    grid-row-end: 4;
  }
}

