@use "../base/variables.scss" as *;

.contacts__wrapper {
  @media (min-width: 1150px) {

    grid-column: 2/3;
  }
}


.contacts__title {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 28px;

  @media (min-width: 768px) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 49px;
  }

  @media (min-width: 1150px) {
    font-size: 53px;
    line-height: 57px;
    grid-column-start: 2;
    // padding: 90px 0 0 0;
    // margin-bottom: 35px;
  }
}

.contacts__list {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $grey;
  margin-bottom: 62px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 310px 310px;
    gap: 25px;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 49px;
  }

  @media (min-width: 1150px) {
    display: block;
  }
}

.contacts__list-wrapper {
  display: grid;
  grid-template-columns: 76px 1fr;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.contacts__link {
  color: $black;
  text-decoration: none;
  border-bottom: 1px solid $aqua3;

  @media (min-width: 768px) {
    padding-bottom: 4px;
  }
}

.contacts__map {
  margin-bottom: 36px;
  width: 100%;

  @media (min-width: 768px) {
    margin-bottom: 53px;
  }

  @media (min-width: 1150px) {
    grid-column: 3/4;
    grid-row: 1/4;
  }
}

.contacts__image-flag {
  display: none;

  @media (min-width: 768px) {
    position: absolute;
    top: -22px;
    right: 53px;
    display: block;
  }

  @media (min-width: 1150px) {
    top: 80px;
    left: 150px;
  }
}

.contacts__button {
  display: block;
  margin: 0 auto;
  width: calc(100% - 60px);
  height: 52px;
  border: 2px solid $grey;
  background-color: $white;

  @media (min-width: 768px) {
    width: 230px;
  }

  // @media (min-width: 1150px) {
  //   grid-column-start: 2;
  //   margin: 0;
  // }
}
