@use "../sass/base/variables.scss" as *;

.contacts__title {
  font-size: 25px;
  line-height: 30px;
}

.contacts__list {
  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $grey;
}

.contacts__link {
  color: $black;
  text-decoration: none;
  border-bottom: 1px solid #62D1BA;
}