@use "../base/variables.scss" as *;

.footer {
  background-color: $w_grey;
}

.footer__wrapper {
  @media (min-width: 768px) {
    padding: 51px 50px 58px 50px;
    display: flex;
    justify-content: space-between;
  }
}

.footer__logo {
  display: none;

  &:hover,
  &:focus {
    fill: $footer_logo;
  }

  &:active {
    fill: $footer_logo;
    opacity: 0.3;
  }

  @media (min-width: 768px) {
    display: flex;
  }
}

.footer__list {
  padding: 26px 59px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $bf_grey;

  @media (min-width: 768px) {
    padding: 0;
    border: 0;
  }
}

.footer__item {
  @media (min-width: 768px) {
    &:not(:last-child) {
      padding-right: 33px;
    }
  }
}


.footer__copyright-link {
  padding: 22px 39px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $black;
  text-decoration: none;
  font-size: 19px;
  line-height: 18px;

  &:hover .footer__copyright-img,
  &:focus .footer__copyright-img {
    fill: $footer_logo;
  }

  &:active .footer__copyright-img {
    fill: $footer_logo;
    opacity: 0.3;
  }

  @media (min-width: 768px) {
    padding: 0;
  }
}

.footer__copyright-text {
  @media (min-width: 768px) {
    margin-right: 26px;
  }

  @media (min-width: 1150px) {
    margin-right: 30px;
  }
}

.footer__copyright-img {
  fill: $aqua3;
}

.footer__link {
  &:hover,
  &:focus {
    fill: $footer_logo;
  }

  &:active {
    fill: $footer_logo;
    opacity: 0.3;
  }
}
