@use "../base/variables.scss" as *;

.header__wrapper {
  @media (min-width: 768px) {
    display: grid;
    justify-content: space-between;
  }

  @media (min-width: 1150px) {
    grid-template-columns: 415px 1fr 390px;
  }
}

.header-nav__main-nav,
.header-nav__user-nav,
.header-nav__offer-nav {
  font-size: 17px;
  line-height: 24px;

  @media (min-width: 768px) {
    font-size: 15px;
  }

  @media (min-width: 1150px) {
    font-size: 17px;
  }
}

.header-nav__main-nav {
  display: flex;
  z-index: 2;

  @media (min-width: 1150px) {
    grid-row: 1/2;
  }
}

.header-nav__user-nav {
  display: flex;

  @media (min-width: 768px) {
    justify-self: end;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  @media (min-width: 1150px) {
    grid-column: 3/4;
    max-width: 360px;
  }
}

.header-nav__offer-nav {
  @media (min-width: 1150px) {
    position: relative;
    display: flex;
    grid-column: 1/2;
    grid-row: 2/3;
    z-index: 2;
    max-width: 530px;
  }
}

.header-nav__closed {
  @media (max-width: 767px) {
    display: none;
  }
}

.header-nav__no-js {
  @media (max-width: 768px) {
    display: block;
    position: relative;
    z-index: 2;
  }
}

.header-nav__main-list,
.header-nav__user-list,
.header-nav__new-list {
  list-style: none;
}

.header-nav__main-list {
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

.header-nav__user-list {
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 17px;
    max-width: 450px;
  }
}

.header-nav__new-list {
  display: none;

  @media (min-width: 1150px) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 15px;
  }
}

.header-nav__offer {
  font-weight: 400;
  display: none;

  @media (min-width: 768px) {
    display: flex;
    justify-content: end;
    font-size: 15px;
    z-index: 2;
    padding: 22px 0;
  }

  @media (min-width: 1150px) {
    font-size: 15px;
    grid-column: 3/4;
  }
}

.header-nav__link {
  display: flex;
  text-decoration: none;
  color: $black;
  padding: 30px 28px 27px 76px;
  box-shadow: 0 1px 0 $b_grey, inset 0 1px 0 $b_grey;


  &:hover,
  &:focus {
    opacity: 0.6;
    fill: $aqua;
  }

  &:hover .header-nav__link-icon,
  &:focus .header-nav__link-icon {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: 768px) {
    padding: 0;
    align-items: center;
    box-shadow: none;
  }
}

.header-nav__user-list .header-nav__link {
  padding: 25px 0 30px 32px;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.header-nav__item-search {
  @media (min-width: 768px) {
    display: flex;

    &::before {
      content: "";
      display: flex;
      width: 1px;
      height: 89px;
      background-color: $black;
      opacity: 0.1;
    }
  }
}

.header-nav__item-basket {
  @media (min-width: 768px) {
    display: flex;

    &::before {
      content: "";
      display: flex;
      width: 1px;
      height: 89px;
      background-color: $black;
      opacity: 0.1;
    }
  }
}

.header-nav__item-search .header-nav__link-text {
  @media (min-width: 768px) {
    display: none;
  }
}

.header-nav__link-icon {
  display: flex;
  margin-right: 25px;
  opacity: 0.2;

  @media (min-width: 768px) {
    margin: 0;
    box-sizing: content-box;
    padding: 30px 31px;
  }

  @media (min-width: 1150px) {
    padding: 31px 32px;
  }
}


.header-nav__item-catalog {
  @media (min-width: 768px) {
    margin-right: 37px;
  }

  @media (min-width: 1150px) {
    margin-right: 71px;
    display: flex;
    align-items: center;

    &::after {
      content: "";
      display: flex;
      position: relative;
      top: -2px;
      left: 35px;
      width: 1px;
      height: 90px;
      background-color: $black;
      opacity: 0.1;
    }
  }
}

.header-nav__item-order {
  @media (min-width: 1150px) {
    display: flex;
    align-items: center;

    &::after {
      content: "";
      display: flex;
      position: relative;
      top: -2px;
      left: 35px;
      width: 1px;
      height: 90px;
      background-color: $black;
      opacity: 0;
    }
  }
}

.header-nav__item-new {
  @media (min-width: 1150px) {
    margin-right: 62px;
  }
}
