@use "../base/variables.scss" as *;

.header__toggle {
  position: absolute;
  top: 33px;
  right: 30px;
  display: block;
  width: 20px;
  height: 14px;
  border: none;
  background-color: $white;
  cursor: pointer;

  @media (min-width: 768px) {
    display: none;
  }
}

.header__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: $black;
  box-shadow: 0 6px 0 0 $black, 0 12px 0 0 $black;
}

.header__toggle--open {
  top: 40px;
  right: 35px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 27px;
    height: 2px;
    background-color: $black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.header__logo {
  padding: 22px 0 16px 0;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: 768px) {
    padding: 0;
    margin-right: 26px;
  }
}
