@use "../base/variables.scss" as *;

.hero {
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 320px auto;
  background-position: center top -17px;
  background-color: $background;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }

  @media (min-width: 768px) {
    background-image: url("../img/hero-tablet.jpg");
    background-size: 768px auto;
    background-position: center;
    // object-fit: fill;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
    }

    &::after {
      content: "";
      display: flex;
      background-image: url("../img/zigzag-line-24.png");
      background-repeat: repeat-x;
      width: 100%;
      min-height: 24px;
      position: absolute;
      bottom: -10px;

      @media (min-width: 1150px) {
        background-image: url("../img/zigzag-line-desktop.png");
        bottom: -7px;
      }
    }
  }

  @media (min-width: 1150px) {
    background-image: url("../img/hero-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 1150px auto;
      object-fit: contain;
    }
  }
}

.hero__wrapper {
  @media (min-width: 768px) {
    padding: 0 50px;
    max-width: 1150px;
    margin: 0 auto;
  }
}

.hero__title {
  margin: 0;
  padding: 73px 30px 120px;
  text-align: center;
  font-size: 27px;
  line-height: 30px;

  @media (min-width: 768px) {
    padding: 155px 0 372px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: 1150px) {
    padding: 158px 0 355px;
    font-size: 53px;
    line-height: 57px;
  }
}

.hero__list {
  position: relative;

  @media (min-width: 768px) {
    display: flex;
    width: 100%;
  }
}

.hero__item {
  background-color: $aqua;
  list-style: none;
  width: 100%;
  padding: 24px 30px 31px 30px;

  @media (min-width: 768px) {
    padding: 25px 0 34px 36px;
  }
}

.hero__item--interior {
  &::before {
    content: "";
    background-image: url("../img/stack.svg#interior");
    background-repeat: no-repeat;
    position: absolute;
    top: 23px;
    right: 36px;
    width: 40px;
    height: 62px;

    @media (min-width: 768px) {
      top: 28px;
      right: calc(50% + 36px);
    }
  }
}

.hero__item--toys {
  background-color: $aqua2;

  &::after {
    content: "";
    background-image: url("../img/stack.svg#toy");
    background-repeat: no-repeat;
    position: absolute;
    top: 124px;
    right: 27px;
    width: 60px;
    height: 60px;

    @media (min-width: 768px) {
      top: 30px;
      right: 34px;
    }
  }
}

.hero__button {
  display: flex;
  text-decoration: none;
}

.hero__button-title {
  font-size: 19px;
  line-height: 24px;
  color: $white;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
  }
}
