@use "../base/variables.scss" as *;

.main-nav {
  display: none;
  background-color: $white;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  width: auto;

  @media (min-width: 768px) {
    display: block;
  }
}

.main-nav__open {
  display: block;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: 768px) {
    display: flex;
    justify-content: end;
  }

  @media (min-width: 1150px) {
    justify-content: space-between;
  }
}

.main-nav__link {
  display: block;
  text-decoration: none;
  color: $black;
  padding: 28px 30px;
  box-shadow: 0 1px 0 $b_grey, inset 0 1px 0 $b_grey;

  @media (min-width: 768px) {
    padding: 0;
    box-shadow: none;
  }
}

.main-nav__item-catalog {
  @media (min-width: 768px) {
    position: absolute;
    top: 110px;
    left: 50px;
    z-index: 2;
    font-size: 15px;
  }

  @media (min-width: 1150px) {
    position: relative;
    top: 0;
    left: 0;
    padding: 33px 33px 32px 0;
  }
}

.main-nav__item-order {
  @media (min-width: 768px) {
    position: absolute;
    top: 110px;
    left: 218px;
    z-index: 2;
    font-size: 15px;
  }

  @media (min-width: 1150px) {
    position: relative;
    top: 0;
    left: -120px;
    padding: 33px 0 32px 33px;
    border-left: 1px solid rgba($black, 0.1);
  }
}

.main-nav__item-search {
  @media (min-width: 768px) {
    display: block;
    padding: 36px 31px 34px 33px;
    border-left: 1px solid rgba($black, 0.1);
  }

  @media (min-width: 1150px) {
    position: relative;
    top: 0;
    left: 120px;
  }
}

.main-nav__item-search .main-nav__link-text {
  @media (min-width: 768px) {
    display: none;
  }
}

.main-nav__item-basket {
  @media (min-width: 768px) {
    display: block;
    padding: 33px 0 32px 31px;
    border-left: 1px solid rgba($black, 0.1);
  }
}

.main-nav__item-search .main-nav__link-icon {
  position: absolute;
  top: 275px;
  left: 30px;
  margin-right: 26px;

  @media (min-width: 768px) {
    position: relative;
    margin-right: 0;
    top: 0;
    left: 0;
  }
}

.main-nav__item-basket .main-nav__link-icon {
  position: absolute;
  top: 355px;
  left: 30px;
  margin-right: 26px;

  @media (min-width: 768px) {
    position: relative;
    top: 0;
    left: 0;
    margin-right: 31px;
  }
}

.main-nav__item-new {
  display: none;

  @media (min-width: 1150px) {
    display: block;
    position: absolute;
    top: 110px;
    left: 50px;
    z-index: 2;
    font-size: 15px;
  }
}

.main-nav__item-sale {
  display: none;

  @media (min-width: 1150px) {
    display: block;
    position: absolute;
    top: 110px;
    left: 270px;
    z-index: 2;
    font-size: 15px;
  }
}

.main-nav__item-offer {
  display: none;

  @media (min-width: 768px) {
    display: block;
    position: absolute;
    top: 110px;
    right: 50px;
    z-index: 2;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: $grey;
  }
}
