.main-container {
  flex-grow: 1;
}

.main__hero {
  position: relative;
  margin-bottom: 31px;

  @media (min-width: 768px) {
    position: relative;
    bottom: 70px;
    margin-bottom: -18px;
  }

  @media (min-width: 1150px) {
    margin-bottom: 24px;
    bottom: 48px;
  }
}

.main__product {
  position: relative;
  margin-bottom: 72px;

  @media (min-width: 768px) {
    margin-bottom: 56px;
  }

  @media (min-width: 1150px) {
    margin-bottom: 68px;
  }
}

.main__about {
  position: relative;
  margin-bottom: 58px;

  @media (min-width: 768px) {
    margin-bottom: 83px;
  }

  @media (min-width: 1150px) {
    padding: 0 225px;
    margin-bottom: 90px;
  }
}

.main__reviews {
  position: relative;
  margin-bottom: 90px;

  @media (min-width: 768px) {
    margin-bottom: 68px;
  }

  @media (min-width: 1150px) {
    max-width: 1150px;
    margin: 0 auto;
    margin-bottom: 71px;
  }
}

.main__contacts {
  position: relative;
  margin-bottom: 39px;

  @media (min-width: 768px) {
    margin-bottom: 57px;
  }

  @media (min-width: 1150px) {
    margin: 0 auto;
    padding: 0 50px;
    max-width: 1150px;
    display: grid;
    grid-template-columns: 173px 350px 527px;
    margin-bottom: 105px;
  }
}

.main__catalog {
  position: relative;
  bottom: 69px;
  margin-bottom: 0;

  @media (min-width: 1150px) {
    margin-bottom: 77px;
    bottom: 46px;
  }
}

.main__manufacture {
  position: relative;
  margin-bottom: 60px;

  @media (min-width: 768px) {
    margin-bottom: -4px;
    bottom: 69px;
  }

  @media (min-width: 1150px) {
    margin-bottom: 34px;
  }
}

.main__order {
  position: relative;
  margin-bottom: 55px;

  @media (min-width: 768px) {
    position: relative;
    bottom: 68px;
    margin-bottom: -17px;
  }

  @media (min-width: 1150px) {
    bottom: 46px;
    margin-bottom: 4px;
  }
}
