@use "../base/variables.scss" as *;

.main-footer {
  background-color: $w_grey;
}

.main-footer__wrapper {
  @media (min-width: 768px) {
    display: flex;
  }
}

.main-footer__logo {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    padding: 51px 0 58px 0;
  }
}

.main-footer__list {
  padding: 25px 59px 28px 59px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid $bf_grey;

  @media (min-width: 768px) {
    padding: 0;
    border: 0;
  }
}

.main-footer__item {
  @media (min-width: 768px) {
    &:not(:last-child) {
      padding: 0 33px 0 0;
    }
  }
}


.main-footer__copyright-link {
  padding: 22px 39px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: $black;
  text-decoration: none;
  font-size: 19px;
  line-height: 18px;

  @media (min-width: 768px) {
    margin: 0;
    padding: 0;
  }
}

.main-footer__copyright-text {
  @media (min-width: 768px) {
    margin-right: 26px;
  }
}
