@use "../base/variables.scss" as *;

.manufacture {
  display: flex;
  flex-direction: column;
  @media (min-width: 1150px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15% 15% 50% 20%;
  }
}

.manufacture__wrapper {
  position: relative;
  margin-bottom: 35px;

  @media (min-width: 768px) {
    order: -1;
  }

  @media (min-width: 1150px) {
    grid-row-start: 1;
    grid-row-end: 5;
  }
}

.manufacture__title {
  margin: 0;
  padding: 0;
  min-height: 96px;
  font-size: 17px;
  line-height: 24px;
}

.manufacture__text {
  margin-bottom: 41px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: $grey;
}

.manufacture__button {
  margin-bottom: 91px;
  font-size: 18px;
  line-height: 16px;
  text-transform: uppercase;
  color: $grey;
}

.manufacture__play {
  background-image: url(../../img/play.png);
  width: 100px;
  height: 77px;
  border: none;
  border-radius: 25%;
  position: absolute;
  top: 45px;
  left: 75px;

}
