@use "../base/variables.scss" as *;

.manufacture__wrapper {
  margin-bottom: 35px;
}

.manufacture__title {
  margin: 0;
  padding: 0;
  min-height: 96px;
  font-size: 17px;
  line-height: 24px;
}

.manufacture__text {
  margin-bottom: 41px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: $grey;
}

.manufacture__button {
  margin-bottom: 91px;
  font-size: 18px;
  line-height: 16px;
  text-transform: uppercase;
  color: $grey;
}
