@use "../base/variables.scss" as *;

.manufacture__wrapper {
  border: 1px solid $b_grey;

  &:hover .manufacture__inner-text,
  &:focus .manufacture__inner-text {
    box-shadow: 0 6px 10px rgba($black, 0.1);
  }

  &:active .manufacture__inner-text {
    box-shadow: 0 3px 5px rgba($black, 0.1);
  }

  @media (min-width: 1150px) {
    display: grid;
    grid-template-columns: 683px 1fr;
  }
}

.manufacture__title {
  position: absolute;
  font-size: 17px;
  line-height: 24px;
  top: 23px;
  left: 120px;
  max-width: 200px;

  &::before {
    content: "";
    width: 32px;
    height: 22px;
    position: absolute;
    top: 13px;
    left: -56px;
    background-image: url("../img/stack.svg#videocamera");

    @media (min-width: 768px) {
      top: -3px;
      left: 0;
    }

    @media (min-width: 1150px) {
      top: -50px;
      left: 0;
    }
  }

  @media (min-width: 768px) {
    position: relative;
    font-size: 20px;
    top: 0;
    left: 0;
    padding-left: 64px;
    margin-bottom: 25px;
    max-width: none;
  }

  @media (min-width: 1150px) {
    padding: 0;
    margin-bottom: 26px;
  }
}

.manufacture__inner-video {
  position: relative;
  margin: 96px 0 0 0;

  @media (min-width: 768px) {
    margin: 0;
  }
}

.manufacture__video {
  display: flex;
  width: 100%;
  height: 100%;
}

.manufacture__play {
  background-image: url("../../img/stack.svg#play");
  width: 100px;
  height: 77px;
  border: none;
  border-radius: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;

  &:hover,
  &:focus {
    transform: translate(-50%, -50%) scale(120%);
  }

  &:active {
    transform: translate(-50%, -50%) scale(80%);
    opacity: 0.6;
  }
}

.manufacture__inner-text {
  padding: 35px 32px;

  @media (min-width: 768px) {
    padding: 41px 41px 46px;
  }

  @media (min-width: 1150px) {
    padding: 98px 57px 0 78px;
  }
}

.manufacture__text {
  margin-bottom: 42px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: $grey;

  @media (min-width: 768px) {
    margin-bottom: 39px;
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: 1150px) {
    padding: 0;
    margin: 0 0 51px 0;
  }
}

.manufacture__button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 14px 10px;
  border: 2px solid $grey;
  width: 100%;

  &:hover,
  &:focus {
    color: $white;
    background-color: $grey;
  }

  &:active {
    color: rgba($white, 0.7);
  }
}
