@use "../base/variables.scss" as *;

// ОБЩИЕ СТИЛИ

.order__title {
  font-size: 27px;
  line-height: 30px;
  background-color: $w_grey;
  padding: 74px 0;
  margin-bottom: 17px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 43px;
    line-height: 50px;
    padding: 101px 0 75px 0;
    margin-bottom: 66px;

    &::after {
      content: "";
      position: absolute;
      top: 213px;
      right: 0;
      width: 100%;
      height: 24px;
      background-image: url("../img/zigzag-line-24.png");
      background-repeat: repeat-x;

      @media (min-width: 1150px) {
        background-image: url("../img/zigzag-desktop.png");
        height: 34px;
        top: 237px;
      }
    }
  }

  @media (min-width: 1150px) {
    font-size: 53px;
    line-height: 57px;
    padding: 102px 0 96px 0;
    margin-bottom: 115px;
  }
}

.order__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: $grey;
  margin-bottom: 27px;

  @media (min-width: 768px) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 81px;
  }

  @media (min-width: 1150px) {
    padding: 0 225px;
    margin-bottom: 79px;
  }
}

.order__form-title {
  display: inline-block;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $aqua;
  margin-bottom: 35px;
  background-color: $white;
  padding-right: 20px;

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 30px;
    width: calc(100% - 60px);
    height: 1px;
    background-color: $aqua3;
    z-index: -1;

    @media (min-width: 768px) {
      display: none;
    }
  }

  @media (min-width: 1150px) {
    padding-right: 0;
    padding-left: 60px;
  }
}

.order__list {
  list-style: none;
  padding-left: 60px;

  @media (min-width: 768px) {
    padding-left: 190px;
  }

  @media (min-width: 1150px) {
    padding-left: 158px;
  }
}

.order__item {
  margin-bottom: 24px;

  @media (min-width: 768px) {
    margin-bottom: 56px;
  }
}

.order__item:last-child {
  margin-bottom: 0;
}

.order__label {
  position: relative;
}

.order__textarea,
.order__text-input,
.order__tel-input,
.order__email-input {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
}

// Потом заменить

fieldset {
  font-size: 17px;
  line-height: 18px;
  border: 0;
}

// ТИП ИГРУШЕК

.order__form-type {
  margin-bottom: 42px;
  position: relative;

  @media (min-width: 768px) {
    display: flex;
    margin-bottom: 66px;
  }
}

.order__radio-mark {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -4px;
  left: -60px;
  border: 2px solid $grey;
  border-radius: 50%;
  border-color: $grey;

  @media (min-width: 768px) {
    width: 52px;
    height: 52px;
    top: -17px;
    left: -78px;
  }

  @media (min-width: 1150px) {
    top: -16px;
    left: -80px;
  }
}

.order__radio-input[type="radio"]:checked + .order__radio-mark::before {
  content: "";
  position: absolute;
  top: 25%;
  left: 25%;
  width: 18px;
  height: 18px;
  background-color: $aqua3;
  border-radius: 50%;

  @media (min-width: 768px) {
    width: 23px;
    height: 23px;
  }
}

.order__radio-label {
  font-size: 17px;
  line-height: 18px;

  @media (min-width: 768px) {
    font-size: 19px;
  }
}

// ЦВЕТ


.order__form-color {
  position: relative;
  margin-bottom: 43px;
  padding: 0 30px;

  @media (min-width: 768px) {
    background-color: $w_grey;
    margin-bottom: 50px;
    padding: 65px 50px 10px 50px;
  }
}

.order__form-color .order__form-title {
  margin-bottom: 36px;

  @media (min-width: 768px) {
    background-color: $w_grey;
    }
}

.order__form-wrapper {
  @media (min-width: 768px) {
    display: flex;
    max-width: 1050px;
    margin: 0 auto;
    width: 100%;
  }
}

.order__form-color .order__list {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 141px;
    padding-left: 184px;
  }

  @media (min-width: 1150px) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 142px;
    padding-left: 152px;
  }
}

.order__form-color .order__item {
  @media (min-width: 768px) {
    margin-bottom: 58px;
  }
}

.order__checkbox-mark {
  position: absolute;
  top: -6px;
  left: -60px;
  width: 38px;
  height: 38px;
  border: 2px solid $grey;
  border-color: $grey;
  margin-top: -5px;

  @media (min-width: 768px) {
    width: 52px;
    height: 52px;
    top: -12px;
    left: -81px;
  }
}

.order__checkbox-input[type="checkbox"]:checked + .order__checkbox-mark::before {
  content: "";
  position: absolute;
  background-image: url("../img/tick.png");
  top: 25%;
  left: 20%;
  width: 23px;
  height: 16px;

  @media (min-width: 768px) {
    background-image: url("../img/tick-tablet.png");
    width: 32px;
    height: 22px;
  }
}

.order__checkbox-label {
  display: block;
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 43px;

  @media (min-width: 768px) {
    font-size: 19px;
    margin-bottom: 0;
  }
}

.order__item:last-child .order__checkbox-label {
  margin-bottom: 0;
}

// ФИО

.order__form-name {
  position: relative;
  margin-bottom: 35px;

  @media (min-width: 768px) {
    display: flex;
    margin-bottom: 26px;
  }
}

.order__form-name .order__form-title {
  margin-bottom: 28px;

  @media (min-width: 768px) {
    padding-top: 18px;
  }
}

.order__form-name .order__item {
  @media (min-width: 768px) {
    display: flex;
    margin-bottom: 24px;
  }
}

.order__form-name .order__list {
  padding: 0;

  @media (min-width: 768px) {
    padding-left: 105px;
    width: 100%;
  }

  @media (min-width: 1150px) {
    padding-left: 75px;
    padding-right: 175px;
  }
}

.order__text-label {
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    font-size: 19px;
    margin-right: 24px;
  }
}

.order__text-input {
  border: 0;
  border-bottom: 2px solid $grey;
  padding: 15px 0;
  width: 100%;

  @media (min-width: 768px) {
    padding: 12px 18px;
    font-size: 19px;
  }
}

// ТЕЛЕФОН И E-MAIL

.order__form-contacts {
  position: relative;
  padding: 0 30px;

  @media (min-width: 768px) {
    background-color: $w_grey;
    margin-bottom: 51px;
    padding: 50px 50px 24px 50px;
  }

  @media (min-width: 1150px) {
    padding: 50px;
  }
}

.order__form-contacts .order__form-wrapper {
  @media (min-width: 768px) {
    display: block;
  }

  @media (min-width: 1150px) {
  padding-right: 175px;
  }
}

.order__form-inner-tel {
  position: relative;
  margin-bottom: 36px;

  &::before {
    content: "";
    position: absolute;
    top: 30px;
    right: 7px;
    width: 25px;
    height: 24px;
    background-image: url("../img/phone.png");

    @media (min-width: 768px) {
      top: 10px;
      right: 26px;
    }

    @media (min-width: 1150px) {
      top: 10px;
      right: 10px;
    }
  }

  @media (min-width: 768px) {
    display: flex;
    margin-bottom: 24px;
  }
}

.order__form-inner-email {
  position: relative;
  margin-bottom: 36px;

  &::after {
    content: "";
    position: absolute;
    top: 35px;
    right: 3px;
    width: 32px;
    height: 21px;
    background-image: url("../img/email.png");

    @media (min-width: 768px) {
      top: 17px;
      right: 20px;
    }

    @media (min-width: 1150px) {
      top: 15px;
      right: 10px;
    }
  }

  @media (min-width: 768px) {
    display: flex;
    margin-bottom: 24px;
  }

  @media (min-width: 1150px) {
    margin-bottom: 0;
  }
}

.order__tel-input {
  border: 0;
  border-bottom: 2px solid $grey;
  padding: 17px 0;
  width: 100%;

  @media (min-width: 768px) {
    display: block;
    background-color: $w_grey;
    font-size: 19px;
    width: calc(100% - 167px);
    margin-left: auto;
    padding: 11px 0 13px 16px;
  }

  @media (min-width: 1150px) {
    width: calc(100% - 175px);
  }
}

.order__form-contacts .order__form-title {
  margin-bottom: 0;

  &::after {
    width: calc(100% - 30px);
  }

  @media (min-width: 768px) {
    padding-top: 18px;
    background-color: $w_grey;
  }
}

.order__email-input {
  border: 0;
  border-bottom: 2px solid $grey;
  padding: 16px 0;
  width: 100%;

  @media (min-width: 768px) {
    display: block;
    background-color: $w_grey;
    width: calc(100% - 167px);
    margin-left: auto;
    font-size: 19px;
    padding: 11px 0 13px 16px;
  }

  @media (min-width: 1150px) {
    width: calc(100% - 175px);
  }
}

.order__form-email .order__form-title {
  margin-bottom: 4px;
}

// TEXTAREA

.order__form-area {
  position: relative;
  margin-bottom: 18px;

  @media (min-width: 768px) {
    display: flex;
    margin-bottom: 53px;
  }

  @media (min-width: 1150px) {
    margin-bottom: 50px;
  }
}

.order__textarea {
  display: block;
  border: 2px solid $grey;
  padding: 17px 7px 13px 17px;
  width: 100%;

  @media (min-width: 768px) {
    padding: 15px;
    font-size: 19px;
    margin-left: 108px;
  }

  @media (min-width: 1150px) {
    margin-left: 76px;
    max-width: 700px;
  }
}

.order__form-area .order__form-title {
  margin-bottom: 21px;

  @media (min-width: 768px) {
    padding-top: 20px;
  }
}


// ИНСТРУКЦИЯ

.order__instruction {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 30px;
  color: $grey;

  @media (min-width: 768px) {
    margin: 0;
    order: 2;
    font-size: 17px;
    line-height: 30px;
  }
}

.order__wrapper {
  display: block;

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
  }
}

// КНОПКА

.order__button {
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $grey;
  width: 100%;
  background-color: $white;
  border: 2px solid $grey;
  padding: 16px 0;

  @media (min-width: 768px) {
    width: 230px;
    height: 52px;
    font-size: 17px;
  }
}
