@use "../base/variables.scss" as *;

.product {
  position: relative;
}

.product__wrapper {
  margin: 0 auto;

  &::before {
    content: '';
    background-image: url("../img/zigzag-line.jpg");
    background-repeat: repeat-x;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 6px;

    @media (min-width: 768px) {
      background-image: url("../img/zigzag-line-tablet.png");
      background-repeat: repeat-x;
      top: 100%;
      height: 17px;
    }

    @media (min-width: 1150px) {
      background-image: url("../img/zigzag-line-desktop-2.png");
      background-repeat: repeat-x;
      height: 23px;
    }
  }

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 20%);
  }

  @media (min-width: 1150px) {
    display: grid;
    grid-template-columns: 175px 350px 1fr;
    grid-template-rows: 153px 150px 224px 57px 125px;
  }
}

.product__title {
  margin: 0 0 4px 0;
  padding: 0;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: 768px) {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    font-size: 43px;
    line-height: 50px;
    padding: 0;
    margin: 0;
  }

  @media (min-width: 1150px) {
    font-size: 53px;
    line-height: 57px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    margin-bottom: 35px;
  }
}

.product__subtitle {
  display: block;
  margin: 0 0 18px 0;
  padding: 0;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $aqua;

  @media (min-width: 768px) {
    grid-row-start: 1;
    grid-column-start: 2;
    text-align: center;
    display: flex;
    align-items: center;
    line-height: 17px;
    width: 100px;
    height: 100%;
    margin: 0;
    margin-left: auto;
    padding: 0;
  }

  @media (min-width: 1150px) {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 6;
    display: block;
    padding-top: 75px;
    margin: 0 auto;
  }
}

.product__description {
  margin:0 0 28px 0;
  padding: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: $grey;

  @media (min-width: 768px) {
    font-size: 17px;
    line-height: 30px;
    padding: 38px 42px 0 0;
    margin-bottom: 48px;
  }

  @media (min-width: 1150px) {
    display: block;
    padding: 0 58px 0 0;
    margin-bottom: 60px;
  }
}

.product__options {
  margin: 0 0 31px 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: $grey;

  @media (min-width: 768px) {
    padding: 0 42px 0 0;
    margin-bottom: 57px;
  }

  @media (min-width: 1150px) {
    padding: 0 58px 0 0;
  }
}

.product__options-wrapper {
  display: flex;
  padding: 10px 0;
  align-items: center;
  border-bottom: 1px solid $b_grey;
}

.product__options-title {
  width: 97px;
}

.product__options-text {
  margin: 0;
}

.product__image {
  margin-bottom: 26px;
  width: 100%;

  @media (min-width: 768px) {
    width: 100%;
    height: 100%;
    padding: 38px 0 52px 0;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 6;
  }

  @media (min-width: 1150px) {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 6;
    margin: 0;
    padding: 0 0 73px 0;
  }
}

.product__price {
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
  font-size: 17px;
  line-height: 24px;
  color: $grey;

  @media (min-width: 768px) {
    font-size: 24px;
    margin-bottom: 33px;
    grid-column-start: 1;
    grid-row-start: 4;
  }

  @media (min-width: 1150px) {
    grid-column-start: 2;
    grid-row-start: 4;
    margin: 0 58px 0 0;
  }
}

.product__button {
  margin-bottom: 36px;
  width: 100%;
  min-height: 52px;
  border: 2px solid $grey;
  background-color: $white;

  @media (min-width: 768px) {
    grid-column-start: 1;
    grid-row-start: 5;
    width: 292px;
    margin: 0 0 52px 0;
  }

  @media (min-width: 1150px) {
    grid-column-start: 2;
    grid-row-start: 5;
    margin: 0 0 73px 0;
  }
}
