@use "../base/variables.scss" as *;

.reviews__wrapper {
  &::after {
    content: "";
    background-image: url("../img/zigzag-line.jpg");
    background-repeat: repeat-x;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;

    @media (min-width: 768px) {
      background-image: url("../img/zigzag-line-tablet.png");
      height: 17px;
    }

    @media (min-width: 1150px) {
      background-image: url("../img/zigzag-line-desktop-2.png");
      background-repeat: no-repeat;
      height: 23px;
      bottom: -50px;
      width: 1100px;
      margin-left: 50px;
    }
  }

  @media (min-width: 768px) {
    background-image: url("../img/reviews.jpg");
    background-repeat: no-repeat;
    background-size: 45%;
    padding-top: 81px;
    padding-bottom: 47px;
  }

  @media (min-width: 1150px) {
    background-position-x: 50px;
    background-size: 30%;
    margin-bottom: 122px;
    padding: 76px 120px 47px 225px;
  }
}

.reviews__list {
  list-style: none;

  @media (min-width: 768px) {
    margin-bottom: 88px;
  }
}

.reviews__title {
  margin-bottom: 14px;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: 768px) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 39px;
  }

  @media (min-width: 1150px) {
    margin-bottom: 35px;
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__quote {
  margin-bottom: 30px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.reviews__text {
  margin-bottom: 33px;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: $grey;

  @media (min-width: 768px) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 61px;
  }

  @media (min-width: 1150px) {
    margin-bottom: 45px;
  }
}

.reviews__author-name {
  display: block;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 3px;

  @media (min-width: 768px) {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 6px;
  }

  @media (min-width: 1150px) {
    font-size: 17px;
  }
}

.reviews__author-email {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: $grey;

  @media (min-width: 768px) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: 1150px) {
    font-size: 17px;
  }
}

.reviews__item:not(:first-child) {
  display: none;
}

.reviews__wrapper-button {
  display: flex;
  margin-bottom: 38px;

  @media (min-width: 768px) {
    position: absolute;
    bottom: 97px;
    right: 70px;
  }

  @media (min-width: 1150px) {
    width: 137px;
    bottom: 138px;
    margin: 0;
  }
}

.reviews__prev {
  width: 50%;
  height: 52px;
  background-image: url("../img/arrow.svg");
  background-position: 50% 50%;
  background-color: $white;
  background-repeat: no-repeat;
  border: 1px solid $b_grey;

  @media (min-width: 768px) {
    border: none;
    width: 50px;
    height: 50px;
    margin-left: calc(100% - 137px);
  }
}

.reviews__next {
  width: 50%;
  height: 52px;
  background-image: url("../img/arrow.svg");
  background-position: 50% 50%;
  rotate: 180deg;
  background-color: $white;
  background-repeat: no-repeat;
  border: 1px solid $b_grey;

  @media (min-width: 768px) {
    border: none;
    width: 50px;
    height: 50px;
    margin-left: auto;
  }
}

.reviews__write {
  width: 100%;
  height: 52px;
  background-color: $white;
  border: 2px solid $grey;
  margin-bottom: 51px;

  @media (min-width: 768px) {
    margin: 0;
    position: absolute;
    top: 77px;
    right: 50px;
    width: 175px;
  }

  @media (min-width: 1150px) {
    right: 0;
    left: 925px;
  }
}
