@use "../base/variables.scss" as *;

.reviews__wrapper {
  width: 260px;
  margin: 0 auto;
}

.reviews__list {
  margin: 0;
  padding: 0;
}

.reviews__quote {
  margin: 0;
  padding: 0;
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
}

.reviews__text {
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: $grey;
}

.reviews__author-name {
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
}

.reviews__author-email {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: $grey;
}

.reviews__item {
  list-style: none;
}
