@use "../base/variables.scss" as *;

.reviews__wrapper {
  &::after {
    content: "";
    background-image: url("../img/zigzag-line.jpg");
    background-repeat: repeat-x;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;

    @media (min-width: 768px) {
      background-image: url("../img/zigzag-line-tablet.png");
      height: 17px;
    }

    @media (min-width: 1150px) {
      background-image: url("../img/zigzag-line-desktop-2.png");
      background-repeat: no-repeat;
      height: 23px;
      bottom: -50px;
      width: 1100px;
      margin-left: 50px;
    }
  }

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 175px;
    background-image: url("../img/review.jpg");
    background-repeat: no-repeat;
    background-size: 45%;
    padding-top: 81px;
    padding-bottom: 47px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  @media (min-width: 1150px) {
    background-position-x: 50px;
    background-size: 30%;
    margin-bottom: 122px;
    padding: 74px 50px 47px 224px;
  }
}

.reviews__list {
  list-style: none;

  @media (min-width: 768px) {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-bottom: 88px;
  }
}

.reviews__title {
  margin-bottom: 14px;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: 768px) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 39px;
  }

  @media (min-width: 1150px) {
    margin-bottom: 35px;
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__quote {
  margin-bottom: 30px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.reviews__text {
  margin-bottom: 33px;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: $grey;

  @media (min-width: 768px) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 61px;
  }

  @media (min-width: 1150px) {
    margin-bottom: 45px;
  }
}

.reviews__author-name {
  display: block;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 3px;

  @media (min-width: 768px) {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 6px;
  }

  @media (min-width: 1150px) {
    font-size: 17px;
  }
}

.reviews__author-email {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: $grey;

  @media (min-width: 768px) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: 1150px) {
    font-size: 17px;
  }
}

.reviews__item:not(:first-child) {
  display: none;
}

.reviews__wrapper-button {
  display: flex;
  margin-bottom: 38px;

  @media (min-width: 768px) {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-bottom: 0;
    padding: 183px 19px 0 19px;
  }

  @media (min-width: 1150px) {
    padding-top: 137px;
  }
}

.reviews__prev {
  width: 50%;
  height: 52px;
  background-image: url("../img/stack.svg#arrow");
  background-position: 37px 11px;
  background-color: $white;
  background-repeat: no-repeat;
  border: 1px solid $b_grey;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: 768px) {
    background-position: 0 13px;
    border: none;
    width: 75px;
  }
}

.reviews__next {
  width: 50%;
  height: 52px;
  background-image: url("../img/stack.svg#arrow");
  background-position: 41px 13px;
  rotate: 180deg;
  background-color: $white;
  background-repeat: no-repeat;
  border: 1px solid $b_grey;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }


  @media (min-width: 768px) {
    background-position: 0 13px;
    border: none;
    width: 75px;
  }
}

.reviews__write {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  height: 52px;
  background-color: $white;
  border: 2px solid $grey;
  margin-bottom: 51px;

  &:hover {
    color: $white;
    background-color: $grey;
  }

  &:active {
    color: rgba($white, 0.7);
  }

  @media (min-width: 768px) {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-bottom: 0;
  }
}
